html{
  scroll-behavior: smooth;
    overflow-y: auto;
}
.wrapper {
  display: flex;
  transition: all 0.4s;
  
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -300px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: dimgray;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

